<div class="container">
    <section class="header">
        <h1 class="title">Swimming World Magazine Scraper</h1>
    </section>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/" id="scrape-articles">Scrape new articles</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#" id="clear-articles">Clear saved articles</a></li>
            </ul>
        </div>
    </nav>
    <br>
    
    <section class="row" id="saved-articles">
        <h3>Saved articles</h3>

        <div id="empty-svd-mssg" class="hide">No saved articles to show.</div>
        
        <ul id="saved-articles-list">
            {{#each articles}}
                <li class="saved" data-identity="{{_id}}"><span style="font-weight: bold;">{{title}}</span>&nbsp;&nbsp;&nbsp; <a href="{{link}} target='_blank'">Read more >></a>
                    <ul>
                        <li>
                            <button class="button-primary delete" data-identity="{{_id}}">Delete</button> <button class="button view-add-comments" data-identity="{{_id}}">Comments</button>
                        </li>
                    </ul>
                </li>
                <br>
            {{/each}}
        </ul>

        <div class="dialog-form" title="COMMENTS">
            <div class="saved-comments">

                {{!-- how to show only comments of article that is clicked on? might have to use jquery/vanilla js for this functionality --}}

                {{!-- {{#each articles}}
                    {{#with comments}}
                        {{#each this.comments}}
                            <p>Name: {{comments.name}}</p>
                            <p>Comment: {{comments.text}}</p>
                            <br>
                        {{else}}
                            <p>No comments.</p>
                            <br>
                        {{/each}}
                    {{/with}}
                {{/each}} --}}

                {{!-- {{> comments/comments-block}} --}}
                
            </div>
            <form class="new-comment" title="Add comment" id="comment-form">
                <label for="comment-text">Text</label>
                <textarea rows=5 class="text ui-widget-content ui-corner-all comment-text" required aria-required="true"></textarea>
                <label for="commenter-name">Name</label>
                <input type="text" class="text ui-widget-content ui-corner-all commenter-name" required aria-required="true">
                <br>
                <button class="button button-primary submit-comment" type="submit">Submit</button>
            </form>
        </div>

    </section>

    <section class="footer">
        <br><br><br><br>
    </section>
    
</div>