<div class="container">
    <section class="header">
        <h1 class="title">Swimming World Magazine Scraper</h1>
    </section>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/" id="scrape-articles">Scrape new articles</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#" id="clear-articles">Clear saved articles</a></li>
            </ul>
        </div>
    </nav>
    <br>
    
    <section class="row" id="saved-articles">
        <h3>Saved articles</h3>

        <div id="empty-svd-mssg" class="hide">No saved articles to show.</div>
        
        <ul id="saved-articles-list"></ul>
            {{#each articles}}
                <li class="saved" data-identity="{{_id}}"><a href="{{link}}">{{title}}</a>&nbsp;&nbsp;&nbsp;<button class="button-primary delete" data-identity="{{_id}}">Delete me</button> <button class="button view-add-comments" data-identity="{{_id}}">Comments</button></li>
                
                <div class="dialog-form" title="Comments" data-identity="{{_id}}">
                    <div class="saved-comments">
                        {{!-- {{> comments/comments-block}} --}}
                    </div>
                    <form class="new-comment" data-identity="{{_id}}" title="Add comment">
                        <label for="comment-text">Text</label>
                        <textarea rows=5 class="text ui-widget-content ui-corner-all comment-text" required aria-required="true"></textarea>
                        <label for="commenter-name">Name</label>
                        <input type="text" class="text ui-widget-content ui-corner-all commenter-name" required aria-required="true">
                        <br>
                        <button class="button button-primary submit-comment" type="submit">Submit</button>
                    </form>
                </div>

            {{/each}}
        </ul>

    </section>

    <section class="footer">
        <br><br><br><br>
    </section>
    
</div>